@font-face {
    font-family: 'Hind';
    src: url(img/Hind/Hind-Regular.ttf);
}
@font-face {
    font-family: 'Hind-Bold';
    src: url(img/Hind/Hind-Bold.ttf);
}

html {
    font-family: 'Hind', sans-serif;
    color: #002B39;
}

h1,h2 {
    color: #272c30;
    font-family: 'Hind-Bold';
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: 50px;
}

button {
    display: block;
    margin: auto;
    box-shadow: 0px 15px 12px 0px rgba(153,176,190,0.35);
    height: 56px;
    min-width: 255px;
    padding-top: 13px!important;
    padding-right: 25px!important;
    padding-bottom: 13px!important;
    padding-left: 25px!important;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Hind',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-image: linear-gradient(0deg,#007fff 0%,#00b1ff 100%);
    cursor: pointer;
}

button:hover {
    font-family: 'Hind', sans-serif;
    font-weight: 700!important;
    color: #1489ff;
    background: white;
    border: solid 1px #1489ff;
}

body {
    margin: 0;
}

#seccion1 {
    display: block;
    position: relative;
    padding-top: 46px;
    max-width: 2560px;
    margin: 0 auto;
    background-image: url(img/Grupo-9213@2x.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    border: none;
    height: 848.91px;

    @media (min-width: 981px) {
        padding: 4% 0;
    }
    
}

#seccion1 > h1 {
    margin-top: 40px;
    margin-bottom: 5px;
}

#seccion1 > p {
    text-align: center;
    color: #002B39;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    margin-top: 0px;
}

#button1 {
    margin-top: 30px;
}

#logoVenn {
    display: block;
    width: auto;
    max-height: 83.8px;
    margin: auto;
    aspect-ratio: auto 229 / 252;
    padding-top: 7px;
}

#slides {
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: 1fr 692px 1fr;
    grid-template-rows: 100% 3rem;
    align-items: center;
    justify-items: center;
    max-width: 1450px;
}

#slides > img:nth-child(1) {
    max-height: 60px;
}

#slides > img:nth-child(3) {
    max-height: 60px;
}

#tarjeta {
    padding-top: 18px;
    max-width: 692px;
    margin: auto;
    margin-top: 51px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 65px 1px;
    padding-right: 1.5rem !important;
    max-width: 692px;
    min-height: 245px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px !important;
    box-shadow: 0 15px 15px 0 rgba(26,72,100,.15) !important;
    border: solid 1px #c3d5e0 !important;
    background-image: linear-gradient(to bottom, #fff 45%, #fff 78%, #f8fcff) !important;
}

#tarjeta >img {
    width: 237px;
    height: 237px;
    display: inline;
    grid-column: 1;
    grid-row: 2 / 3;
    object-fit: cover;
    align-self: center;
    margin-top: 80px;

}

#tarjeta >p {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #002b39;
    margin: 11.2px 0px 0px;
    grid-row: 3;
    grid-column: 2 / -1;
    line-height: 22px;
}

#tarjeta > h3 {
    font-family: 'Hind', sans-serif;
    color: #002B39;
    grid-column: 2;
    grid-row: 1;
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    align-self: center;
}

#career{
    font-size: 18px;
    color: #1489ff;
    font-family: 'Hind', sans-serif;
    grid-row: 2;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#career > div > img {
    max-height: 20.82px;
    max-width: 140px;
}

#tarjeta >h5 {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    color: blue;
}

.cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: auto;
    gap: 20px;
}

.tarjetaCaracteristica {
    text-align: center;
    justify-content: center;
    width: 90%;
    color: #002b39 !important;
    margin: 15px 6% !important;
    padding: 22px 5% !important;
    border-radius: 10px !important;
    box-shadow: 0 20px 15px 0 rgba(26, 72, 100, 0.1) !important;
    border: solid 1px #c3d5e0 !important;
    background-image: linear-gradient(to bottom, #fff, #fff 78%, #f0feff) !important;
}

#tools {
    display: block;
    margin: auto;
    max-width: 548px;
    margin-top: 75px;
}

.negritas {
    font-weight: bolder;
}

#ultimoBoton {
    margin-top: 50px;
}

#seccionHerramientas {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 440px;
    max-width: 1100px;
    position: relative;
    align-self: center;
    gap: 30px;
}

.tarjetaProductos {
    background-size: 120%!important;
    display: flex;
    flex-direction: column;
    padding: clamp(26px,2vw,4rem);
    padding-top: 0.5rem!important;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(195,213,224,0.5);
    background-color: #fff;
}

#seccionHerramientas > div > img {
    max-width: 267.88px;
    max-height: 251.13px;
}

#seccionHerramientas > div > h5 {
    font-size: 27px;
    font-family: 'Hind-Bold';
    align-self: center;
    margin: 0;
    color: #002b39;
}
#seccionHerramientas >div >p {
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    color: #002b39;
    margin: 0;
    text-align: center;
}

#seccion3 {
    display: block;
    margin: auto;
}

.header3{
    margin-top: 150px;
}

.process {
    padding-top: 4.4vw!important;
    margin-top: -3.7vw!important;
    margin-right: auto!important;
    margin-bottom: 30px;
    margin-left: auto!important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 320px;
    max-width: 862px;
    position: relative;
    align-self: center;
    background-image: url(img/Rectangulo-7185403x.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 55%;
}

#number1 {
    width: 46.25px;
    height: 35px;
    grid-column: 1;
    grid-row: 1;
}
#number2 {
    width: 57.5px;
    height: 35px;
    grid-column: 3;
    grid-row: 1;
}
#number3 {
    width: 56.88px;
    height: 35px;
    grid-column: 5;
    grid-row: 1;
}

.number {
    display: block;
    margin: auto;    
}

#account {
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 2;
}
#profile {
    width: 200px;
    height: 200px;
    grid-column: 3;
    grid-row: 2;
}
#course {
    width: 200px;
    height: 200px;
    grid-column: 5;
    grid-row: 2;
}

#crea {
    color: #002b39;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    grid-column: 1;
    grid-row: 3;
}
#completa {
    color: #002b39;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    grid-column: 3;
    grid-row: 3;
}
#online {
    color: #002b39;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    grid-column: 5;
    grid-row: 3;
}

#backgroundLine {
    margin: auto;
    width: 600px;
    z-index: -1;
    grid-column: 1 / 5;
    grid-row: 2;
}